.hidden {
    display: none;
}

.my-books-list {
    height: 600px;
    overflow-y: scroll;
}

.visible {
    display: block;
}

.selected {
    background-color: rgb(36, 187, 137);
}

#add-new-book-button {
    margin-top: 10px;
}

#alert {
    display: none;
}

