ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.container > * {
    margin: 10px;
}

.hidden {
    display: none;
}

.my-books-list {
    height: 400px;
    margin-bottom: 25px;
    margin-top: 25px;
    overflow-y: scroll;
}

.not-all-books-list {
    margin-top: 0px;
}

.visible {
    display: block;
}

.selected {
    background-color: rgb(36, 187, 137);
}

#add-new-book-button {
    margin-top: 10px;
}

#alert {
    display: none;
}

#new-book-form {
    padding-left: 0px;
}

#search {
    height: 40.333px;
}