{% extends "book_library/layout.html" %}
{% load static %}

{% block body %}
<div class="container detail-view-note-div">
    <div class="row">
        <div class="col-3">
            <h2>{{ current_book.title }}</h2>
            <h5>{{ current_book.author }}</h4>
        </div>
        <div class="col-9">
            <h3>Notes from {{ current_user.username }}</h3>
            <ul>
                {% for note in notes %}
                <div class="container-flex">
                    <div class="row">
                        <div class="col-11">
                            <li class="note">{{ note.text }}</li>
                        </div>    
                        <div class="col-1">
                            <button class="btn btn-sm btn-outline-danger">Remove</button>
                        </div>
                    </div>
                </div>
                    
                {% endfor %}
                {% if not notes  %}
                    NO NOTES YET
                {% endif %}
            </ul>
            <div class="d-grid gap-2">
                <button class="btn btn-outline-light" id="add-new-note-button">Add new note +</button>
            </div>
            
        </div>
    
        
    
        
    
</div>
{% endblock %}


{% block script %}
    <script src="{% static 'book_library/detail_view.js' %}" defer>

    </script>
{% endblock %}
