{% extends 'book_library/layout.html' %}
{% load static %}

{% block body %}
<div id="reading-view">
    <div class="container-fluid">
        <h1>Currently Reading Books</h1>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="col title-col"><h3>Title</h3></div>
                <div class="col author-col"><h3>Author</h3></div>
                <div class="col started-col"><h3>Started Reading</h3></div>
                <div class="col why-col"><h3>Why did you start reading it?</h3></div>
            </div>
        </div>
        {% for reading_object in reading_objects %}
        <div class="row">
            <div class="col">
                <div class="col title-col">{{ reading_object.book.title }}</div>
                <div class="col author-col">{{ reading_object.book.author }}</div>
                <div class="col started-col">{{ reading_object.started_reading }}</div>
                <div class="col why-col">{{ reading_object.why }}</div>
            </div>
        </div>
        {% endfor %}
    </div>
    
</div>

<div id="read-view">
</div>

<div id="wish_list-view">
</div>
{% endblock %}

