{% extends 'book_library/layout.html' %}

{% block body %}
<div id="reading-view">
    <div class="container-fluid">
        <h1>Books Currently Reading</h1>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col title-col"></div>
            <div class="col author-col"></div>
            <div class="col started-col"></div>
            <div class="col why-col"></div>
        </div>
    </div>
    
</div>

<div id="read-view">
</div>

<div id="wish_list-view">
</div>
{% endblock %}

