{% extends "book_library/layout.html" %}
{% load static %}

{% block body %}
<div class="container-fluid">
    <!-- Row 1 -->
    <div class="row">
        <!-- All books column (col1/4) -->
        <div class="col col-lg-3 col-12">
            <div class="row">
                <div class="col">
                    <div class="container" id="search-div">
                        {% comment %}<h2><a href="{% url 'book_library:user_list_of_books' 'all_books' %}">All books</a></h2>{% endcomment %}
                        <h2><span class="float-start"></span><img src="{% static 'book_library/images/book-horizontal-stack.png' %}" height="50" width="50"></span>All books </h2>
                        <input type="search" id="search" placeholder="Search book in database"> 
                        <button class="btn btn-outline-light" id="search-button">Search</button>
                        <form action="{% url 'book_library:new_book' %}">
                            <button class="btn btn-outline-success">Add new book to the database</button>
                        </form>        
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="container my-books-list" id="allbooks-div">
                        <ul id="menu">
                            {% for book in all_books %}
                                <li class="my_books-li" id="{{ book.id }}"><span class="book-title-span">{{ book.title }}</span> <span class="book-author-span">by {{ book.author }}</span></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <div class="container d-grid gap-2">
                                <button class="btn btn-outline-primary btn-lg add-to-button" id="add-to-reading-button">Add book to reading list</button>
                            </div>
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="container d-grid gap-2">
                                <button class="btn btn-outline-secondary btn-lg add-to-button" id="add-to-read-button">Add book to read list</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="container d-grid gap-2">
                                <button class="btn btn-outline-success btn-lg add-to-button" id="add-to-wish-button">Add book to wish list</button>
                            </div>
                        </div>
                    </div>  
                </div>
            </div>
        </div>        

        <!-- Reading List Column (col2/4) -->
        <div class="col col-lg-3 col-12">
            <div class="row">
                <div class="col">
                    <div class="container not-all-books-list" id="readingbooks-div">
                        <h2><a href="{% url 'book_library:user_list_of_books' 'reading_books' %}"><span class="float-start"><img src="{% static 'book_library/images/open-book.png' %}" height="50" width="50"></span>Reading Books</a></h2>
                        <ul id="readingbooksmenu"> 
                            {% for reading in reading_books %}
                                <li class="my_books-li">{{ reading.book.title }}</li>
                            {% endfor %}
                        </ul>              
                    </div>
                </div>      
            </div>
        </div>
        <!-- Read List Column (col3/4)-->
        <div class="col col-lg-3 col-12">
            <div class="row">
                <div class="col">
                    <div class="container not-all-books-list" id="readbooks-div">
                        <h2><a href="{% url 'book_library:user_list_of_books' 'read_books' %}"><span class="float-start"><img src="{% static 'book_library/images/books.png' %}" height="50" width="50"></span>Read Books</a></h2>
                        <ul id="readbooksmenu">
                            {% for read in read_books %}
                                <li class="my_books-li">{{ read.book.title }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>          
        </div>
        <!-- Wish List Column (col 4/4)-->
        <div class="col col-lg-3 col-12">
            <div class="row">
                <div class="col">
                    <div class="container not-all-books-list" id="wishbooks-div">
                        <h2><a href="{% url 'book_library:user_list_of_books' 'wish_books' %}"><span class="float-start"><img src="{% static 'book_library/images/stack-of-books.png' %}" height="50" width="50"></span>Wish List Books</a></h2>
                        <ul id="wishlistmenu">
                            {% for wish in wish_books %}
                                <li class="my_books-li">{{ wish.book.title }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
    

    <!-- Row 3 (messages) -->
    <div class="row">
        <div class="col">
            <div class="alert alert-success" id="alert" role="alert"></div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
    <script src="{% static 'book_library/my_books.js' %}" defer>
    </script>
    
{% endblock %}