{% extends "book_library/layout.html" %}
{% load static %}

{% block body %}

<div class="container" id="new-book-form">
    <form action="{% url 'book_library:new_book' %}" method="post">
        {% csrf_token %}
        <div class="row">
            {{ form }}
        </div>
        <div class="row">
            <button class="btn btn-outline-dark" id="add-new-book-button" type="submit">Add new book</button>
        </div>
    </form>
    {% if message %}
    <div class="row">
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    </div>
    {% endif %}
</div>


{% endblock %}
