{% extends 'book_library/layout.html' %}
{% load static %}

{% block body %}
<div id="wish-view">
    <div class="container-fluid">
        <h1>Books that you want to read</h1>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col title-col"><h3>Title</h3></div>
            <div class="col author-col"><h3>Author</h3></div>
            <div class="col why-col"><h3>Why?</h3></div>
        </div>
        {% for wish_object in wish_objects %}
        <div class="row element-row">
            <div class="col title-col"><a href="{% url 'book_library:detail_view' request.user.id wish_object.book.id %}">{{ wish_object.book.title }}</a></div>
            <div class="col author-col"><a href="{% url 'book_library:author_view' wish_object.book.author %}">{{ wish_object.book.author }}</a></div>
            <div class="col why-col">{{ wish_object.why }}</div>
        </div>
        {% endfor %}
    </div>    
</div>

{% endblock %}